<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/rus.css"/>
	<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">

	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Статьи</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="faq_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a class="active" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="main_faq">
			<h1>Статьи</h1>

			<h2><a href='/mlm.html'>МЛМ-проекты имеют право на существование!</a></h2>

			<p>Основным поводом в написании данной статьи послужило заблуждение многих пользователей Интернета в
				том, что все программные млм-проекты представляют собой лохотроны и финансовые пирамиды. Это утверждение
				изначально неверно и может звучать лишь из уст не думающего голословного человека, доверяющего не своему
				разуму, а гулу толпы. Причину этого мы можем найти на страницах нашей недавней истории.</p>

			<h2><a href='/risk-mlm.html'>Оправданный риск МЛМ</a></h2>

			<p>Итак, уважаемые читатели, вы познакомились со многими МЛМ - пирамидами, потерпели неудачи. Что же такое?
				–
				скажите Вы. Почему мне обещали золотые горы, но я не смог добиться успеха и пирамида развалилась...</p>

			<p>И вот сейчас мне предлагают очередную систему заработка, которая якобы работает без особых проблем.
				Почему я
				должен верить? Почему я?</p>

		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">
			<script id="top100Counter" type="text/javascript"
					src="http://counter.rambler.ru/top100.jcn?2390545"></script>
			<noscript>
				<a href="http://top100.rambler.ru/navi/2390545/">
					<img src="http://counter.rambler.ru/top100.cnt?2390545" alt="Rambler's Top100" border="0"/>
				</a>
			</noscript>
			<a href="http://yandex.ru/cy?base=0&amp;host=www.moneyland.su"><img
					src="http://www.yandex.ru/cycounter?www.moneyland.su" width="88" height="31"
					alt="Яндекс цитирования" border="0"/></a>
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' " +
					"target=_blank><img src='//counter.yadro.ru/hit?t41.6;r" +
					escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
					";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
							screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
					";" + Math.random() +
					"' alt='' title='LiveInternet' " +
					"border='0' width='31' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet-->
		</div>
	</div>
</div>
</body>
</html>
