<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/rus.css"/>
	<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">

	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Вопросы</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="faq_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a class="active" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a href="/article.html" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="main_faq">
			<h1>Список часто задаваемых вопросов</h1>

			<p>Здесь приводится неполный перечень вопросов, задаваемых новичками. Этот список будет постоянно
				пополняться, по мере их поступления.</p>

			<div class="question">Это финансовая пирамида?</div>
			<p><strong>Это не финансовая пирамида!</strong> Во всех финансовых пирамидах деньги копятся на верхушке у
				боссов, а когда их становится достаточное количество, боссы убегают. У нас вообще нет никакой верхушки и
				даже нет внутренней денежной системы. </p>

			<div class="warning">
				<p> Все расчеты происх одят только между двумя людьми &mdash; куратором и его клиентом, и никаким
					третьим лицам ничего не отчисляется.</p>
			</div>
			<p>Каждый из нас продает классически &mdash; &quot;вот тебе товар, вот тебе деньги за него&quot;. А
				товар &mdash; это уровни программы. Если скептик считает, что это &quot;воздух&quot;, то пусть скептик
				так считает и дальше. Уровни программы &mdash; это самый востребованный товар на нашем проекте.</p>

			<p>И, наконец: &quot;о великая пирамида, я боюсь произносить твое имя&hellip;&quot;. Товарищи! Сейчас XXI
				век, а сетевой маркетинг только начинает проникать во все сферы нашего общества. Все крупные компании
				переходят на партнерские программы. Но любая партнерская программа &mdash; это есть ни что иное как
				пирамида. Вы привлекаете клиентов (покупателей) в фирму, и за них сама фирма Вам начисляет проценты,
				например, с каждой покупки клиентом. Многие из них предусматривают многоуровневую схему, и с каждым
				уровнем вам начисляется все меньший процент. Вы не догадываетесь, почему процент уменьшается? Потому что
				компании будет попросту невыгодно делиться с Вами своим доходом. Они даже придумывают всякие правила 70%
				и т.п. А теперь взгляните на свое положение в нашем проекте. Вы являетесь Фирмой (компанией), успешным
				трейдером и получаете 100% прибыли с собственных продаж. Это идеал!</p>

			<div class="question">Как осуществляются расчеты между партнерами?</div>
			<p>Все расчеты происходят только между клиентом и куратором. В личном офисе делается заказ на покупку
				очередного уровня, где клиент получает данные куратора для перевода денег. И никакие другие лица не
				участвуют в процессе покупки-продажи уровней. То есть все происходит только по правилам
				маркетинг-плана.</p>

			<div class="question">Здесь все так сложно, я, наверное, не справлюсь?</div>
			<p>Механизм построения вашего бизнеса очень прост:</p>
			<ol>
				<li>Вы бесплатно регистрируетесь;</li>
				<li>в течение 3-х суток Вы принимаете решение стать партнером проекта и покупаете 1 уровень у своих
					кураторов;
				</li>
				<li>рекламируете Вашу реферальную ссылку (например, просто оставляете ее на нескольких форумах);</li>
				<li>Вы видите, что по Вашей ссылке заходят новые посетители, а заинтересовавшиеся регистрируются в Вашу
					сеть;
				</li>
				<li>Вы видите, что Ваша сеть стремительно растет (значит, бизнес прекрасно работает);</li>
				<li>Вы ежедневно проверяете свой почтовый ящик и продаете уровни программы &quot;MoneyLand&quot; Вашим
					клиентам, т.е. Ваш бизнес начинает приносить реальные деньги.
				</li>
			</ol>
			<div class="question">Так не бывает! Все равно организаторы проекта получают какие-то скрытые прибыли?</div>
			<p>Проект полностью прозрачен, и Вы можете посмотреть, что делает каждый участник и сколько имеет клиентов.
				Никакого внутреннего счета в проекте нет. Все участники работают в одинаковых условиях и имеют
				одинаковые права. Количество уровней клиентов для каждого участника ограничено 3-мя, т.е. все, кто
				находится ниже, никак не связаны с тем, кто находится выше 3-х уровней.</p>

			<p>Организаторы проекта &mdash; это группа таких же участников как Вы, которые ведут контроль над работой
				системы, занимаются администрированием и отвечают на Ваши вопросы&hellip; И причем они делают это
				совершенно бесплатно, им никто ничего за эту работу не платит. Очевидно, что лучшая и менее трудоемкая
				позиция &mdash; это позиция обычного пользователя системы.</p>

			<div class="question">За кем закрепляются новые участники, пришедшие не по реферальной ссылке?</div>
			<p>В системе присутствует равномерное распределение участников. Новый участник, пришедший не по реф. ссылке
				зарегистрированного участника, становится рефералом участника, у которого есть свободная ячейка.
				Программа сама помогает вам в поиске партнеров.</p>

			<h2>Если у Вас есть интересный вопрос, то напишите его на admin@moneyland.su или на форум. Если вопрос
				стоящий, он будет здесь опубликован.</h2>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">
			<script id="top100Counter" type="text/javascript"
					src="http://counter.rambler.ru/top100.jcn?2390545"></script>
			<noscript>
				<a href="http://top100.rambler.ru/navi/2390545/">
					<img src="http://counter.rambler.ru/top100.cnt?2390545" alt="Rambler's Top100" border="0"/>
				</a>
			</noscript>
			<a href="http://yandex.ru/cy?base=0&amp;host=www.moneyland.su"><img
					src="http://www.yandex.ru/cycounter?www.moneyland.su" width="88" height="31"
					alt="Яндекс цитирования" border="0"/></a>
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' " +
					"target=_blank><img src='//counter.yadro.ru/hit?t41.6;r" +
					escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
					";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
							screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
					";" + Math.random() +
					"' alt='' title='LiveInternet' " +
					"border='0' width='31' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet-->
		</div>
	</div>
</div>
</body>
</html>
