<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Вопросы</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="faq.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="main page"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="marketing"></a></li>
			<li class="rules"><a href="rules_eng.html" title="rules"></a></li>
			<li class="questions"><a class="active" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="main_faq">
			<h1>FAQ</h1>

			<p>Here we present the list of questions often asked by new users. This list will be filled on constant
				basis as soon as new questions appear.</p>

			<div class="question">Is this a financial pyramid?</div>
			<p>This is not a financial pyramid. In all these schemes money is accumulated at the top of the pyramid, in
				the hands of big bosses. When the pyramid has made enough money these big bosses usually disappear. We
				don not have actual top structure, we even do not possess any internal payment system.</p>

			<div class="warning">
				<p>All payments involve only two people: the supervisor and his/her client, there is no any other third
					person who gets his/her commission.</p>
			</div>
			<p>We use the traditional trade scheme &mdash; &quot;when good is exchanged for money.&quot; In our system
				the program levels act as goods.If skeptics think it's nonsense, let them believe it further more.
				Program levels are the most important goods in our project.</p>

			<p>And finally: &quot;O glorious pyramid, I'm afraid to spell your name&hellip;&quot; My dear, we are living
				in the 21th century but the network marketing only begins its way in the strata of our society. All big
				companies are moving towards partnership programs. But each partnership program is nothing but a kind of
				network marketing. You attract clients (buyers), for this activity the organization gives you a
				percentage, for example from each deal you have made. Lots of these programs present a multilevel scheme
				so that with every next level you get smaller percent. Do you have any idea why you get less? The answer
				is simple: the company just doesn't want to share its profit, they invent rules of 70% and etc. Now
				please estimate your role in our project. You are an organization (firm) or a successful trader yourself
				and get 100% profit from your own sales. That's perfect.</p>

			<div class="question">How the payment between partners is made?</div>
			<p>All payments are held between the client and his/her supervisor. The order for the purchase of the next
				level is made in the Personal Office, then the client receives the supervisor's data necessary for money
				transition. No other person is involved in the process of purchase and sale. So that everything is
				organized according to the rules of marketing plan.</p>

			<div class="question">Everything is so complicated, probably I won't cope with it.</div>
			<p>Business scheme is very simple:</p>
			<ol>
				<li>You are to registry on free terms;</li>
				<li>During 72 hours you are to take the decision to become the participant of our project and buy the
					first level of program from your supervisors;
				</li>
				<li>Advertise you reference link (for example just post it in some forums);</li>
				<li>You see that you link is used by new visitors and those who get interested in it will register in
					you network;
				</li>
				<li>You see that your network is growing fast, that means that your business works;</li>
				<li>Everyday you check your e-mail box and sell levels of the program &quot;MoneyLand&quot; to your
					clients and your business starts bringing you money.
				</li>
			</ol>
			<div class="question">That's unreal! Organizers should get some hidden profits.</div>
			<p>The project activity is absolutely transparent and you can see what each participants is involved into
				and how many clients he/she has. We don't have any internal payment system. All participants work in one
				and the same conditions and all of them possess equal rights. Each participant can have only 3 levels of
				clients, those who have below level of the program are not connected with those who have beyond level of
				it.</p>

			<p>The group of organizers consists of the same participants who control the work of the whole system, do
				administrative work and answer your questions. More then that, they do it on free terms as nobody pays
				them. So it's quite clear that the best and less laborious position is a position of an ordinary user of
				the system.</p>

			<h2>if you have any interesting question, please send it to admin@moneyland.ru or post it in our forum. If
				it's really important question we'll publish it here.</h2>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
</body>
</html>
