<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<script type="text/javascript" src="scripts/scripts_eng.js"></script>
	<title>Main</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="index.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<form id="autorization" name="autorization" method="post" enctype="multipart/form-data" action="proverka.php">
			<input type="text" id="login" name="login" value="Login" onfocus="setlog();" onblur="setlog();"/>

			<div id="changepass"><input type="text" id="password" name="password" value="Password" onfocus="setpass();"
										onblur="unsetpass();"/></div>
			<div class="entersystem"
				 onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem_eng.gif) top'"
				 onmouseover="this.style.background = 'url(images/entersystem_eng.gif) 0 -16px'"
				 onmouseout="this.style.background = 'url(images/entersystem_eng.gif) top'"></div>
			<div class="enter"><a href="restorepassword_eng.html">Forgot your password?</a></div>
		</form>
		<div class="registration"><a href="registration_eng.html"></a></div>
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a class="active" title="main page"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="marketing"></a></li>
			<li class="rules"><a href="rules_eng.html" title="rules"></a></li>
			<li class="questions"><a href="faq_eng.html" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="sidebar">
			<div class="main_sidebar">
				<h1>The latest news and events</h1>

				<div class="news">
					<div class="date">
						<div class="month"><?=$news->month(1)?></div>
						<div class="day"><?=$news->day(1)?></div>
					</div>
					<?=$news->url((1))?>
					<p><?=$news->content(1)?></p>
				</div>
				<div class="news">
					<div class="date">
						<div class="month"><?=$news->month(2)?></div>
						<div class="day"><?=$news->day(2)?></div>
					</div>
					<?=$news->url((2))?>
					<p><?=$news->content(2)?></p>
				</div>
				<div class="news">
					<div class="date">
						<div class="month"><?=$news->month(3)?></div>
						<div class="day"><?=$news->day(3)?></div>
					</div>
					<?=$news->url((3))?>
					<p><?=$news->content(3)?></p>
				</div>
				<img src="images/banner.gif" style="background-color:#F5E19C;"/></div>
		</div>
		<div class="main">
			<div class="rightside">
				<h1>Statistics</h1>
				<table class="statistics">
					<tr class="odd">
						<td>All participants:</td>
						<td><?=$stat->value['countmembers']?></td>
					</tr>
					<tr class="even">
						<td width="167">On-line users</td>
						<td><?=$stat->value['countlevel1'] ?></td>
					</tr>
					<tr class="odd">
						<td>On-line participants</td>
						<td><?=$stat->value['countlevel2'] ?></td>
					</tr>
					<tr class="even">
						<td>Newcomers today</td>
						<td><?=$stat->value['countnewbiestoday'] ?></td>
					</tr>
					<tr class="odd">
						<td>The last participant</td>
						<td><?=$stat->value['lastmember'] ?></td>
					</tr>
				</table>
				<h1>Would you like to be:</h1>
				<ul class="question">
					<li>be financially independent?</li>
					<li>have more free time?</li>
					<li>be independent of your boss?</li>
					<li>travel?</li>
					<li>deal with interesting people?</li>
					<li>change your life-style?</li>
					<li>improve your living conditions?</li>
					<li>pay off your debts?..</li>
				</ul>
			</div>
			<img class="photo" src="images/foto.jpg"/>

			<h1>Global business opportunities for all people</h1>
			<ul class="answer">
				<li>Minimal investment</li>
				<li>Quick and full return of investment</li>
				<li>Quick acquisition of income</li>
				<li>No age limits</li>
				<li>No special training</li>
				<li>No offtake</li>
				<li>Everyday earnings</li>
			</ul>
			<h2>If your answer is <strong>Yes</strong> on at least some questions, this project is for you.</h2>

			<p>The project was developed for the purpose of providinga common manwith an interesting and profitable
				occupation. People of any age, sex and social background can join the project and make money.</p>
			<img class="littlephoto" src="images/little_foto.jpg"/>

			<p>We developed this computer program and sell each other it's levels. The program is a real money machine
				that controls your income. You sell parts of the program to your clients and get pure profit on sales
				put into your web-account.</p>

			<p>Who need these levels? Every partner does! Your supervisor sells you a part of the program and you buy
				this part only once. Then you sell your partners this part of the program according to <a
						href="marketing.html">marketing plan.</a></p>

			<p>How much do you have to spend? You spend only 20 euro to buy the first part of the program <strong>You
				will not spend a penny more.</strong></p>

			<p>Sustainable interesting work, good profit, your team, which will help you to succeed in all MLM projects,
				and your web-account, where you can follow up all information about your business and business of each
				member of your team.</p>

			<h1>Start your business right now! <a href="registration.html">Open an account</a> and let your business
				work.</h1>
		</div>
		<div class="both"></div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>

</body>
</html>
