<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/rus.css"/>
	<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">

	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Маркетинг</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="marketing_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a class="active" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a href="/article.html" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="sidebar">
			<div class="marketing_sidebar">
				<h1>Электронные платежные системы</h1>

				<div class="paysystems">
					<p>Для ведения электронного бизнеса, Вам потребуется быстрая и удобная система онлайн платежей. К
						настоящему моменту существует великое множество различных электронных платежных систем (далее
						ЭПС), отличающихся друг по тем или иным характеристикам. Однако, мы рекомендуем завести счета в
						наиболее популярных ЭПС, т.к. большинство участников используют именно их. Открытие счетов во
						всех ЭПС бесплатное.</p>
				</div>
				<div class="wm"><h2><a href="http://www.webmoney.ru/rus/index.shtml">WebMoney Transfer</a></h2></div>
				<p>Это наиболее популярная и надежная система онлайн платежей, занимающая лидирующую позицию среди всех
					платежных систем СНГ. Существует с 1997 года.</p>

				<p><span>WebMoney позволяет:</span><br/>- легко вводить и выводить денежные средства;<br/>- осуществлять
					мгновенные денежные переводы между участниками системы с комиссией 0.8%;<br/>
					- производить обмен титульных знаков WebMoney на другие электронные валюты;<br/>- выставлять счета и
					производить расчет по электронной почте;<br/>
					- управлять WM кошельком с мобильного телефона.</p>

				<div class="yad"><h2><a href="http://money.yandex.ru/">Яндекс.Деньги</a></h2></div>
				<p>Яндекс.Деньги &mdash; это платежная система, которая позволяет совершать безопасные платежи в
					интернете и надежно хранить всю информацию о ваших зачислениях и платежах.
					Работает только с гражданами РФ. Существует с 2002 года.</p>

				<p><span>Яндекс.Деньги позволяет:</span><br/>- легко вводить и выводить денежные средства;<br/>
					- осуществлять мгновенные денежные переводы между участниками системы с комиссией 0.5%;<br/>
					- производить обмен Яндекс.Денег на другие электронные валюты и делать покупки;<br/>
					- управлять кошельком с мобильного телефона.</p>

				<div class="liqpay"><h2><a href="https://liqpay.com/">Liqpay</a></h2></div>
				<p>Liqpay &mdash; это платежная система, которая позволяет легко отправлять деньги с карточки систем
					Visa или MasterCard на виртуальный счет в системе Liqpay, привязанный к номеру мобильного
					телефона.</p>

				<p>После можно передать деньги дальше, на другой телефон, вывести деньги из системы Liqpay опять на свою
					карточку или оставить деньги на своем счету и воспользоваться ими позже.</p>

				<p>Liqpay пригодится, если вы хотите перевести деньги человеку, но знаете только номер его мобильного
					телефона. При этом не обязательно, чтобы получатель был зарегистрирован в системе. Ему просто
					прейдет SMS с приглашением получить деньги на сайте Liqpay. Зайдя на сайт, человек сможет перевести
					деньги на свою карточку или отправить их дальше, на другой номер мобильного телефона.</p>

				<p>Liqpay решает проблему микроплатежей в Интернете. Минимальная сумма, с которой можно совершать
					транзакции - 0,01 у.е. При этом комиссия гораздо ниже, чем в других системах денежных переводов.</p>

				<h3>С какими карточками работает Liqpay?</h3>

				<p>Для работы с Liqpay нужна карточка Visa или MasterCard, эмитированная любым банком и не имеющая
					ограничений на совершение Интернет-транзакций. Выводить деньги из системы пока что можно только на
					карточки Visa. Это связано с тем, что MasterCard еще не реализовал возможности зачисления средств из
					другого банка. В России Liqpay не работает со Сбербанком.</p>

				<h3>С какими операторами мобильной связи работает Liqpay?</h3>

				<p>Liqpay работает со всеми основными операторами мобильной связи мира.</p>

				<h3>С какими валютами работает Liqpay?</h3>

				<p>На данный момент Liqpay работает с евро, долларом, российским рублем и украинской гривной. В планах
					развития системы - работа со всеми основными мировыми валютами. При не соответствии валюты карточки
					и счета в Liqpay, система производит автоматическую конвертацию.</p>
			</div>
		</div>
		<div class="main_marketing">
			<h1>Маркетинг-план</h1>

			<h1 style='text-align:center'><a href='/images/show_plan.swf'>Посмотрите презентацию нашего проекта
				MoneyLand</a></h1><br/>

			<div class="paysystems">
				<p>Каждый участник проекта MoneyLand ведет свой бизнес по системе многоуровневых продаж со 100%
					прибылью. Товаром для продажи служат уровни компьютерной программы MoneyLand, которая одновременно
					следит за бизнесом каждого участника. Купля-продажа происходит между участником (куратором) и
					покупателем (клиентом) и никаким третьим лицам ничего не отчисляется!</p>
			</div>
			<div class="warning_one"><p>Все, что требуется после регистрации &mdash; это поддержать Ваших же партнеров,
				чтобы они сделали то же самое.</p></div>
			<p>
				<span>Чтобы понять, как это работает, давайте рассмотрим схему продаж, и вам сразу станет все понятно.</span>
			</p>

			<h2>Первый уровень. Начальный.</h2>

			<p>Новый участник проекта, зарегистрировавшийся в нашей команде, может стать полноправным партнером после
				оплаты I уровня, состоящего из 3-х частей. Стоимость I уровня составляет 20 &euro;, которые переводятся
				кураторам 3-х линий по следующей схеме (рис.1):</p>

			<div class="schema1"></div>
			<p>25% (5 &euro;) переводятся на счет куратора, под которым Вы зарегистрировались. 25% (5 &euro;)
				переводятся на счет куратора на линию выше. 50% (10 &euro;) переводятся на счет куратора на 2 линии
				выше.</p>

			<p><span>После получения куратором своей части, каждый из 3-х кураторов делает активацию нового участника непосредственно в своем офисе.</span>
			</p>

			<h2>Второй и третий уровни. Продвинутые.</h2>

			<p>Вы становитесь полноправным пользователем проекта. С этого момента Ваша основная задача &mdash; привлечь
				в проект всего лишь 3-х человек. Таким образом запускаете механизм построения Вашей команды, с которой
				Вы и будете строить Ваш бизнес в нашем проекте.</p>

			<p>По мере формирования Вашей команды, у Вас будет достаточная сумма на покупку следующего уровня. В Ваш
				офис придет сообщение-напоминание о своевременной покупке следующего уровня.</p>

			<div class="warning_two"><p>Все финансовые операции будут проводиться между Вами и партнерами Ваших первых
				3-х
				линий. Так будет происходить у каждого партнера.</p>

				<h3>1 линия &mdash; 3 партнера 2 линия &mdash; 9 партнеров 3 линия &mdash; 27 партнеров</h3></div>
			<p>Каждый партнер этих 3-х линий, вступая в проект, будет покупать у Вас свою часть программы
				соответствующего уровня (рис.2). Таким образом, после закрытия 1 уровня Вы получите следующие суммы на
				свой счет:</p>

			<div class="schema2"></div>
			<div class="table"></div>
			<h2>Подведем итоги:</h2>

			<p>Итак, купив 1 уровень за 20 &euro;, Вы продаете его своим партнерам 3-х линий, находящихся под Вами.</p>

			<p><span>Ваш доход от продаж 1 уровня составит 330 &euro;.</span></p>

			<p>Теперь у Вас есть возможность приобрести 2 уровень за 200 &euro; и продать его своим партнерам тех же 3-х
				линий.</p>

			<p><span>Ваш доход от продаж 2 уровня составит 3300 &euro;.</span></p>

			<p>На этом этапе Вы приобретаете 3 уровень за 2000 &euro;. Заказывать больше ничего не надо.</p>

			<p><span>Ваш доход от продаж 3 уровня составит 33000 &euro;.</span></p>

			<div class="warning_three"><p><span>Ваш чистый доход (с учетом всех купленных уровней) составит <font
					color="#FF0000">34 410 &euro;.</font></span></p></div>
			<h3>Много это или мало? Решать Вам. Если Вам нравятся такие цифры, тогда мы рады принять Вас в нашу команду.
				Сделайте этот шаг и постройте свой бизнес вместе с нами.</h3>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">
			<script id="top100Counter" type="text/javascript"
					src="http://counter.rambler.ru/top100.jcn?2390545"></script>
			<noscript>
				<a href="http://top100.rambler.ru/navi/2390545/">
					<img src="http://counter.rambler.ru/top100.cnt?2390545" alt="Rambler's Top100" border="0"/>
				</a>
			</noscript>
			<a href="http://yandex.ru/cy?base=0&amp;host=www.moneyland.su"><img
					src="http://www.yandex.ru/cycounter?www.moneyland.su" width="88" height="31"
					alt="Яндекс цитирования" border="0"/></a>
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' " +
					"target=_blank><img src='//counter.yadro.ru/hit?t41.6;r" +
					escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
					";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
							screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
					";" + Math.random() +
					"' alt='' title='LiveInternet' " +
					"border='0' width='31' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet-->
		</div>
	</div>
</div>
</body>
</html>
