<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Маркетинг</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="marketing.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="main page"></a></li>
			<li class="marketing"><a class="active" title="marketing"></a></li>
			<li class="rules"><a href="rules_eng.html" title="rules"></a></li>
			<li class="questions"><a href="faq_eng.html" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="sidebar">
			<div class="marketing_sidebar">
				<h1>Electronic payment systems</h1>

				<div class="paysystems">
					<p>To manage electronic business you need fast and comfortable system of on-line payment. Nowadays
						we have a lot of different electronic payment systems, which differentiate only according to
						some characteristic features. Still we recommend to open accounts in most popular electronic
						systems because the majority of participants use them. The opening of the account is free of
						charge.</p>
				</div>
				<div class="wm"><h2><a href="/">WebMoney Transfer</a></h2></div>
				<p>is the most popular and reliable system of on-line payment, the leader among other payment system of
					Commonwealth of Independent States. It exists since 1997</p>

				<p><span>WebMoney allows:</span><br/>- Easily put and withdraw money from the account;<br/>- Perform
					instantaneous money transfer between the members with the commission percentage of 0,8%;<br/>
					- To change WebMoney currency to other electronic currency;<br/>- To bill and perform payment
					through e-mail;<br/>
					- To manage WM wallet from cell phone.</p>

				<div class="yad"><h2><a href="/">Yandex.Money</a></h2></div>
				<p>Yandex.Money &mdash; is a payment system which allows to make secure payment through the internet and
					keep all the information about your performed payment. Can be used only be citizens of RF, exists
					since 2002.</p>

				<p><span>Yandex.Money allows:</span><br/>- Easily put and withdraw money from the account;<br/>
					- Perform instantaneous money transfer between the members with the commission percentage of
					0.5%;<br/>
					- To change Yandex.Money to other electronic currency and buy things;<br/>
					- To manage YM wallet from cell phone.</p>

				<div class="liqpay"><h2><a href="/">Liqpay</a></h2></div>
				<p>LiqPay is a payment system which enables you to send money with your VISA or MasterCard to the Liqpay
					account which is attributed to the cell phone number.</p>

				<p>Once you have done it you may transfer the money to another cell phone or withdraw the money from the
					system or just keep your money at the account and use it when necessary.</p>

				<p>LiqPay is the best option if you need to send money to the person and you have no other information
					except for his/her cell phone number. The way it works is this. The receiver just gets SMS offering
					him/her to withdraw the money with LiqPay and he/she does not have to be registered in the system.
					If he/she needs to transfer money to his/her plastic card or send it further he/she needs to login
					to the LiqPay site which will make other transactions possible.</p>

				<p>LiqPay offers a smart way to handle micro payments in the Internet. The minimal amount of money for a
					transaction is 0,01 of the currency unit. What makes Liqpay attractive is that they charge possibly
					the lowest fees of all payment systems.</p>

				<h3>What card do you need to have to use LiqPay?</h3>

				<p>You need to have Visa or MasterCard issued by any bank which has no restrictions for the Internet
					transactions. In order to accomplish a complete withdrawal of the money from the system you have to
					have Visa card. The reason for this is that Master Card has not made it possible to receive money
					from other banks so far. As far as Russia is concerned, LiqPay does not work with Sberbank.</p>

				<h3>What cell phone providers does LiqPay work with?</h3>

				<p>LiqPay works with all major cell phone providers around the world.</p>

				<h3>What currency does LiqPay work with?</h3>

				<p>Liqpay works with Euro, US dollar, Russian rouble and Ukrainian hryvna. The system is going to
					develop further and introduce all major world currencies in the turnover. The system performs an
					automatic currency convertion if the currency of the card and the currency of LiqPay account do not
					coincide.</p>
			</div>
		</div>
		<div class="main_marketing">
			<h1>Marketing plan</h1>

			<div class="paysystems">
				<p>Every partner ofMoneyLand project does 100% profit business in multi-level-marketing environment. The
					subjects of sale are MoneyLand program levels. The program controls business situation of each
					partner of the program. The participant (supervisor) and the buyer (client) are involved in the
					process of buying .There is no any other third person who gets his/her commision.</p>
			</div>
			<div class="warning_one"><p>You are to sign up first and then all you need to do is to support your partners
				in signing up.</p></div>
			<p><span>Let us consider a sales scheme to understand the principle of program operation.</span></p>

			<h2>1st level. Primary level</h2>

			<p>Each participant who signed up can pay for the first level which consists of 3 parts and can become a
				full project member thereafter.The first level price is 20 €. Then a supervisor operates as follows (fig
				1):</p>

			<div class="schema1"></div>
			<p> 25% (5 &euro;) is for your supervisor. 25% (5 &euro;) is for the supervisor of the 2nd line. 50%
				(10 &euro;) is for the 1st line supervisor.</p>

			<p><span>Supervisors get their percentage parts and then each of them activates a new participant in his/her office.</span>
			</p>

			<h2>2nd and 3d levels. Advanced.</h2>

			<p>You become a full project member and user. Now your task is to build your own team &mdash; to get 3
				people involved in the project. This is your team to do business within our project.</p>

			<p>While building your team you have enough money to buy the next level. Your office gets a reminder that
				you are ready to buy the next level.</p>

			<div class="warning_two"><p>All financial transactions are conducted among you and the partners of your
				first 3 lines, the same for each partner.</p>

				<h3> 1st line &mdash; 3 partners 2nd line &mdash; 9 partners 3rd line &mdash; 27 partners</h3></div>
			<p>Each partner of these 3 lines joins the project and you sell him/her the part of the program he/she needs
				(fig 2).When you complete the first level you receive money on your account according to the following
				figure:</p>

			<div class="schema2"></div>
			<div class="table"></div>
			<h2>Подведем итоги:</h2>

			<p>So you buy 1 level and pay 20 &euro; for it, then you sell it to your partners of 3 lines under you.</p>

			<p><span>Having sold the first level of the program you get 330 &euro;.</span></p>

			<p>Then you can buy the second level of the program and pay 200 &euro; for it.</p>

			<p>
				<span>Having bought the second level you sell it to the partners of 3 lines and your sales return is 3300 &euro;.</span>
			</p>

			<p>The third level costs 2000 &euro;. Having bought it you needn't order anything else.</p>

			<p><span>You can sell the third level and get 33000 &euro; for it. </span></p>

			<div class="warning_three"><p><span>Sell all the levels of the program and your pure income is <font
					color="#FF0000">34 410 &euro;.</font></span></p></div>
			<h3>Is it good enough? It is up to you to decide. If you like such a result you are welcome to our team.
				Take a step towards doing your business with us.</h3>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
</body>
</html>
