<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/rus.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>МЛМ-проекты имеют право на существование!</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="faq_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a class="active" href='/article.html' title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="main_faq">
			<h4><a href='/article.html'>Статьи, вернуться</a></h4>

			<h1>МЛМ-проекты имеют право на существование!</h1>

			<p>Основным поводом в написании данной статьи послужило заблуждение многих пользователей Интернета в том,
				что все программные млм-проекты представляют собой лохотроны и финансовые пирамиды. Это утверждение
				изначально неверно и может звучать лишь из уст не думающего голословного человека, доверяющего не своему
				разуму, а гулу толпы. Причину этого мы можем найти на страницах нашей недавней истории.</p>

			<p>90-е годы преподнесли нам череду хитро спланированных финансовых схем, направленных исключительно на
				получение прибыли методом явного обмана больших масс населения. Очень обидно, что в числе
				недоброжелателей оказалось наше дорогое государство - главная опора народа. Но время шло. Жажда
				получения денег “на халяву” не угасала, людей все затягивало и затягивало в очередные лохотроны. И это
				неудивительно, т.к. у большинства людей влияние первоначального импульса сенсации подавляет действие
				собственного разума. Плачевно, но к сегодняшнему моменту над всем российским обществом нависла пелена
				недоверия к легким способам заработка. Бытует мнение: “Лучше не доверять никому, чем еще раз
				проколоться”. Как вы думаете, какой совет даст человек, придерживающийся такой позиции? Правильно, “живи
				как живется”, “это очередной лохотрон” и т.п. Если вы человек ищущий, самостоятельный, то единственный
				выход для вас – не слушать мнение толпы, а иметь личную позицию, выстроенную на собственном логическом
				анализе вещей. Это вам очень пригодится в жизни.</p>

			<p>Все популярные МЛМ-проекты (RMI, Golden Stream, Financial Reality, Философский камень, Get Money,
				MoneyLand…) изначально содержат “чистую” бизнес-схему, а значит, с помощью них абсолютно любой человек
				способен заработать те деньги, о которых заявлено. Действительно, какой смысл создателям выдумывать
				что-то новое, когда заложенная в программе схема дает одинаковый максимальный результат не только им, но
				и каждому участнику в отдельности. Демократичность МЛМ-бизнеса – единственный стимулирующий фактор,
				благодаря которому проект существует, и мошенничать здесь не имеет никакого смысла. Безусловно, есть
				подделки и их не отличишь, пока не поработаешь в проекте. Но здесь нужно понимать, что мошенник,
				взломавший код программы, намеревается получать доход всего лишь с первого уровня, т.к. все заказы
				пойдут мошеннику, и стимула работы для партнеров не будет. Такая сеть быстро прекратит свое
				существование, и репутация проекта будет запятнана.</p>

			<p>Другой немаловажный вопрос – метод продвижения проекта, от которого напрямую зависит успех всех
				участников. Если Вы не можете добиться желаемого результата, это не означает, что проект обман и
				лохотрон. Обычно среда, в которой проходит бизнес (СПАМ, недоверие …), не позволяет сетям партнеров
				разрастаться до желаемых размеров и, как следствие, возникает очередная волна негативной реакции к
				проекту. Как правило, в такой ситуации на помощь приходят новые методики.</p>

			<p>Мы часто можем видеть сравнение программных МЛМ-проектов с финансовыми пирамидами, которые “ничего” не
				производят и торгуют “ничем”, а стало быть, занимаются обманом. Но разве кинотеатры, цирки, магазины
				что-то производят, кроме услуг? Разве банки и биржи что-то производят кроме перекачки денег из одного
				места в другое? МЛМ-проекты ничем не хуже этих учреждений. Участвуя в проекте, человек получает
				возможность заработать деньги, научиться общаться, создавать свою сеть деловых партнеров, понять
				основные принципы сетевого бизнеса, найти новых друзей и много другого только полезного. Это не есть
				“ничто”. Другой вопрос, что это не признано нашим любимым государством, и всячески усугубляется реакцией
				толпы. Но постойте, разве лучше продавать сигареты или спиртное, некачественные продукты питания или
				промышленные товары, явно угрожающие здоровью человека?</p>

			<p>Или другой пример – знаменитая русская лотерея “Спортлото” есть ничто иное, как полнейший легализованный
				государством лохотрон. Вдумайтесь, из миллиона участников выигрывает только один, а все остальные
				простаки с завистью глядят на этого счастливчика. Иными словами, если государству выгодно, оно найдет
				любые способы побора. Комментарии, я думаю, излишни.</p>

			<p>Теперь по поводу финансовой пирамиды как таковой. Давайте заглянем в "Википедию" и узнаем, подпадают ли
				МЛМ-проекты под финансовые пирамиды.</p>

			<p>Финансовая пирамида — cитуация, возникающая в связи с привлечением денежных средств от инвесторов в
				некоторый инвестиционный проект, когда текущая доходность проекта оказывается ниже ставки привлечения
				инвестиций, и тогда часть выплат по вкладам инвесторов производится не из выручки (прибыли) проекта, а
				из средств новых инвесторов. Закономерным итогом такой ситуации является банкротство проекта и убытки
				последних инвесторов.</p>

			<h3>Нужно сделать важные замечания в отношении программного МЛМ-проекта:</h3>
			<ul class='answer'>
				<li>Здесь нет никакого единого центра, т.е одного единственного инвестиционного проекта для всех
					участников. Один участник - один инвестиционный автономный проект только для этого участника и ни
					для
					кого более;
				</li>
				<li>Банкротство проекта - значит неудача лишь владельца проекта, но ни как не всех. Последние
					инвесторы
					никаких убытков не несут.
				</li>
				<li>Банкротства как такового просто не существует. Под банкротством можно понимать простое нежелание
					работать и отпускание дела на самотек.
				</li>
			</ul>
			<p>Отмеченные особенности позволяют провести четкую грань между обманными финансовыми пирамидами и правильно
				построенными проектами. Действительно, в МММ был единый центр – организаторы пирамиды. Все деньги шли
				именно туда, наверх. В программном МЛМ ничего подобного нет. На основании этого можно заявлять, что
				МЛМ-проект не следует путать с финансовой пирамидой. Будет более верно отнести его в особую группу
				заработка и охладить пыл общественного негатива по отношению к МЛМ.</p>


		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">
			<script id="top100Counter" type="text/javascript"
					src="http://counter.rambler.ru/top100.jcn?2390545"></script>
			<noscript>
				<a href="http://top100.rambler.ru/navi/2390545/">
					<img src="http://counter.rambler.ru/top100.cnt?2390545" alt="Rambler's Top100" border="0"/>
				</a>
			</noscript>
			<a href="http://yandex.ru/cy?base=0&amp;host=www.moneyland.su"><img
					src="http://www.yandex.ru/cycounter?www.moneyland.su" width="88" height="31"
					alt="Яндекс цитирования" border="0"/></a>
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' " +
					"target=_blank><img src='//counter.yadro.ru/hit?t41.6;r" +
					escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
					";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
							screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
					";" + Math.random() +
					"' alt='' title='LiveInternet' " +
					"border='0' width='31' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet-->
		</div>
	</div>
</div>
</body>
</html>
