<?php
	$time=time()+(60*60*24*30*12);
	if(isset($_GET['ref']))setcookie('ref',$_GET['ref'],$time);
	$refurl=(isset($_COOKIE['ref']))?$_COOKIE['ref']:'kirill|nikolay';
	$kurator=explode('|',$refurl);
	$_SESSION['ref']=$kurator;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/personal.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Registration</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="registration.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<div class="welcome"><div>Добро пожаловать <em>Nazim</em></div><div><a href="welcome.html">Выход</a></div></div>-->
		<!--<form id="autorization" name="autorization" action="handler/register.php">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="main page"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="marketing"></a></li>
			<li class="rules"><a href="rules_eng.html" title="rules"></a></li>
			<li class="questions"><a href="faq_eng.html" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="personal_content">
		<!--<div id="personal_nav">
           	<ul>
               	<li class="status"><a href="status.html"></a></li>
				<li class="profile"><a class="active"></a></li>
				<li class="partners"><a href="/"></a></li>
				<li class="mail"><a href="mail.html"></a></li>
				<li class="books"><a href="books1.html"></a></li>
			</ul>
		</div>-->
		<div>
			<div class="regbordercontent">
				<div class="profile_content">
					<h1>New partner registration</h1>

					<p>Fill in the application form. Fields marked in *are mandatory to fill in.<br/>Field E-mail is
						mandatory to fill in.<br/>You register as a member of supervisor`s team with login:
						<strong><em><?=$kurator[0]?></em></strong> and name: <strong><em><?=$kurator[1]?></em></strong>
					</p>

					<form id="profile" name="profile" action="handler/register.php">
						<table cellspacing="0" width="100%">
							<tr>
								<td colspan="3"><h1>Common data:</h1></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Nickname:</td>
								<td width="310"><input name="login" type="text"/></td>
								<td>Nickname must consist of no more than 10 symbols,numbers or letters written in
									Cyrillic script match case or underscore character.(nickname mast begin with a
									letter). You can not change your nickname.
								</td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170">
									<div style="line-height:27px;">Nickname check:</div>
								</td>
								<td width="310">
									<div class="checkup"
										 onmousedown="this.style.background = 'url(images/checkup_eng.png) left bottom';"
										 onclick="document.profile.submit(); this.style.background = 'url(images/checkup_eng.png) left top';"
										 onmouseover="this.style.background = 'url(images/checkup_eng.png) left -27px'"
										 onmouseout="this.style.background = 'url(images/checkup_eng.png) left top'"></div>
								</td>
								<td>Let's check up a login</td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Name:</td>
								<td width="310"><input name="name" type="text"/></td>
								<td><p>Names are used for team members polite treatment therefore real names written in
									Cyrillic script should be used. </p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Password:</td>
								<td width="310"><input name="password" type="password"/></td>
								<td><p>Personal Office password should be written in Cyrillic script match case and it
									should consist of a combination (from 6 to 16) of numbers and symbols. You can
									change your password at your Personal Office.</p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Confirm your password:</td>
								<td width="310"><input name="confirm" type="password"/></td>
								<td></td>
							</tr>
							<tr>
								<td colspan="3"></td>
							</tr>
							<tr>
								<td colspan="3"><h1>Contact information:</h1></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>E-mail:</td>
								<td width="310"><input name="email" type="text"/></td>
								<td><p>E-mail address must be vaild.</p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Skype Login:</td>
								<td width="310"><input name="skype" type="text"/></td>
								<td><p>Skype &mdash; is an easy means of on-line communication. You may download <a
										href="/">here</a>.</p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170">ICQ number:</td>
								<td width="310"><input name="icq" type="text"/></td>
								<td><p>ICQ &mdash; is an easy means of on-line communication. You may download <a
										href="/">here</a>.</p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Phone:</td>
								<td width="310"><input name="phone" type="text"/></td>
								<td><p>Phone number</p></td>
							</tr>
							<tr>
								<td colspan="3"></td>
							</tr>
							<tr>
								<td colspan="3"><h1>Wallet numbers in payment systems: </h1></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>WME wallet:</td>
								<td width="310"><input name="wme" type="text"/></td>
								<td><p>WebMoney euro-wallet. Example: E123456789123 </p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>Yandex.Money wallet:</td>
								<td width="310"><input name="yad" type="text"/></td>
								<td><p>Yandex.Money wallet. Example: 12345678912345 </p></td>
							</tr>
							<tr style="vertical-align:top;">
								<td width="170"><span>*</span>LiqPAY &mdash; account number:</td>
								<td width="310"><input name="liqpay" type="text"/></td>
								<td><p>LiqPAY &mdash; account number. Example: +712345678912 </p></td>
							</tr>
						</table>
						<h1>Attention! To become a project member you must agree with the following obligations <a
								href="http://moneyland.su">http://moneyland.su</a></h1>
						<input id="checkbox" name="yes" type="checkbox"/>

						<div id="foncheckbox">
							<div class="agree" onclick="SwitchImage();"></div>
							<div class="condition">I accept team agreement, released at <a href="rules_eng.html">http://moneyland.su</a>
							</div>
							<div class="save"
								 onmousedown="this.style.background = 'url(images/savecancel_eng.png) left bottom';"
								 onclick="document.profile.submit(); this.style.background = 'url(images/savecancel_eng.png) left top';"
								 onmouseover="this.style.background = 'url(images/savecancel_eng.png) left -32px'"
								 onmouseout="this.style.background = 'url(images/savecancel_eng.png) left top'"></div>
							<div class="clear"
								 onmousedown="this.style.background = 'url(images/savecancel_eng.png) -161px bottom';"
								 onclick="clearform(); this.style.background = 'url(images/savecancel_eng.png) -161px -32px';"
								 onmouseover="this.style.background = 'url(images/savecancel_eng.png) -161px -32px'"
								 onmouseout="this.style.background = 'url(images/savecancel_eng.png) -161px top'"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
</body>
</html>
