<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/css/personal.css"/>
	<link rel="stylesheet" type="text/css" href="/css/rus.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="/scripts/scripts.js"></script>
	<title>Восстановление пароля</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="restorepassword_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<div class="welcome"><div>Добро пожаловать <em>Nazim</em></div><div><a href="welcome.html">Выход</a></div></div>-->
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a href="/article.html" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="personal_content">
		<!--<div id="personal_nav">
           	<ul>
               	<li class="status"><a href="status.html"></a></li>
				<li class="profile"><a class="active"></a></li>
				<li class="partners"><a href="/"></a></li>
				<li class="mail"><a href="mail.html"></a></li>
				<li class="books"><a href="books1.html"></a></li>
			</ul>
		</div>-->
		<div>
			<div class="regbordercontent">
				<div class="profile_content">
					{% for member in data %}
						<h1>Восстановление пароля</h1>
						<p>Ваш новый пароль отправлен к вам на email: {{ member.email }}</p>
					{% empty %}
						<h1>Забыли пароль?</h1>
						<p>{{ form.username.errors }}</p>
						<p>Введите в предложенное поле Ваш логин и свой пароль Вы получите на свой почтовый ящик в
							течении нескольких минут:</p>
						<form id="restore" name="restore" action="" method='POST'>
							<table cellspacing="0" width="100%">
								<tr style="vertical-align:top;">
									<td width="50">Логин</td>
									<td width="300">{{ form.username }}</td>
									<td valign="top">
										<div class="ok"
											 onmousedown="this.style.background = 'url(/images/ok.png) left bottom';"
											 onclick="document.restore.submit(); this.style.background = 'url(/images/ok.png) left top';"
											 onmouseover="this.style.background = 'url(/images/ok.png) left -31px'"
											 onmouseout="this.style.background = 'url(/images/ok.png) left top'"></div>
									</td>
								</tr>
							</table>
						</form>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">


		</div>
	</div>
</div>
</body>
</html>
