<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/rus.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Оправданный риск МЛМ</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="faq_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a class="active" href='/article.html' title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="main_faq">
			<h4><a href='/article.html'>Статьи, вернуться</a></h4>

			<h1>Оправданный риск МЛМ</h1>

			<p>Итак, уважаемые читатели, вы познакомились со многими МЛМ - пирамидами, потерпели неудачи. Что же такое?
				–
				скажите Вы. Почему мне обещали золотые горы, но я не смог добиться успеха и пирамида развалилась...</p>

			<p>И вот сейчас мне предлагают очередную систему заработка, которая якобы работает без особых проблем.
				Почему я
				должен верить? Почему я?</p>

			<p>Ответ на ваши мысли – Чтобы начать зарабатывать, нужно перестать работать (Эмпол Дикель).</p>

			<p>Приступая к работе, заметим к любой работе, вы действительно должны начать работать. Работать нужно в
				любой
				сфере, будь то рынок, будь то дворник. Но зачем пахать за копейки, когда сейчас 21 век – век
				информационных
				технологий. Если ты обладаешь информацией, значит, ты богат. Если ты богат, у тебя больше информации. Но
				какой бы информацией вы не обладали, вы не станете богатым без правильного её использования. Используя
				любую
				информацию, вы рискуете. И риск непосредственно зависит от того, какого рода ваша гениальная идея,
				мысль,
				информация и т.д. Рисковать нужно всегда, но не самым дорогим, что есть у Вас. Потому что, если вы
				откроете
				все свои карты на общее обозрение, то это так расплодится среди ваших конкурентов, что вам станет не
				только
				обидно, но еще и так тоскливо и возможно вы даже начнете бороться с этим. Но поверьте, бороться с
				плагиатом
				почти бесполезно - в 95% случаев это неудачи.</p>

			<p>Прежде чем подготовить данный материал, я провел несколько опросов, форумов и опросил множество своих
				знакомых, которые так или иначе связаны с электронной коммерцией, сетевым маркетингом и млм –
				пирамидами.
				Все они в один голос открыто заявляли одно и тоже. Не нужно иметь особого дара, чтобы работать в этих
				сферах
				и естественно нужно чем-то рисковать, но, рискуя, вы просто обязаны отработать свои деньги, вы должны
				направить как можно больше своих усилий именно на развитие своего партнерства, команды, сети.</p>

			<p>В данной системе (MoneyLand) вы рискуете своими деньгами. Это на самом деле очень маленькая сумма – всего
				лишь 800 рублей. И здесь вы рискуете не этой суммой, а своей возможностью изменить себя. Вы пришли в эту
				систему или вас пригласили – не имеет разницы. И если вы действительно хотите заработать свои деньги, я
				повторяю – свои…. То вам нужно рискнуть. Чем рискнуть? – Вот это первый вопрос на сегодняшний день.
				Возможно, вы обладаете индивидуальным способом привлечения клиентов, или вы знаете, как заставить
				человека
				направить свои мысли и усилия на развитие проекта… Знаний и идей – огромное количество. Идеи и мысли
				приходят к нам каждый день и их тысячи. Но что делать, если вам не чем рисковать? – Это второй вопрос и,
				пожалуй, самый главный для тех, кто только задумался о вступлении в проект.</p>

			<div class='question'>Вот здесь и начинается основная игра. Что делать? Как делать?</div>
			<p>И вы начинаете сдаваться. Это самая первая ошибка начинающих. Они боятся трудностей, у них страх и
				стереотипы. Сразу ответ – отказ: это не моё. Чтож, вы уйдете с сайта и найдете реальную работу. Пусть вы
				станете дизайнером, рекламщиком, работающим в МВД или тем, кем вашей неистовой душе угодно. И вы будете
				работать, пусть скажем, за 20-30 тысяч рублей в месяц. Но самое главное вы не вырастите, и не
				заработаете
				больше этих денег. Теперь давайте посмотрим – пройдет год – вы зарабатываете столько же. Пройдет 5 лет –
				столько же. 10, 15, 20 – столько же. Выйдете на пенсию – еще меньше. Понимаете, здесь есть так
				называемый
				«потолок». И выше него, вы не прыгните. Теперь давайте рассмотрим другой вариант происходящих событий.
				Вы
				рискнете и начнете участвовать в проекте (пусть это даже не MoneyLand – что угодно…). Создаете свою
				команду,
				и буквально через 3-4, а то и 2 месяца – вы дойдете до миллиона рублей. Причем здесь нет «потолка». Вы
				можете столько набрать людей себе на первый уровень, что ваша система никогда не закончится. И вы будете
				получать столько, сколько хотите.</p>

			<p>Еще один стандартный стереотип: мы считаем, что миллионов мало. На самом деле это не так. Всего в мире
				существует 18,5 квинтиллионов долларов. И в мире живет 6 миллиардов людей. Если разделить все деньги на
				всех
				людей в этом мире – то мы получаем по 3 миллиона на человека. Отсюда и вопрос – где наши деньги?</p>

			<p>Ответ очень прост – ваши деньги в сети. В мире только 2 процента всех денег ходят в денежном эквиваленте,
				а
				остальные 98 – в электронной сети. Ведь смотрите, вы же пользуетесь сотовыми телефонами – разве у вас на
				счете не электронные деньги? Вы пользуетесь услугами банковских карт – разве это не электронные деньги?
				Самые что ни на есть!</p>

			<p>Теперь информация к размышлению: Сетевой бизнес в Японии развит на 80%, в США – 56-58%, а в России он
				развит
				всего на 10%. У нас огромный потенциал для развития данных систем бизнеса.</p>

			<p>В сети существовало много проектов, но они распадались из-за негласности или необдуманности участников, а
				также их не совершенности. Посмотрите на систему «MoneyLand» - чего в ней не хватает? На мой взгляд, она
				идеальна.</p>

			<p>И теперь только действия за вами. Не торопитесь, обдумайте всё более тщательно, выработайте свои
				стратегии и
				планы. И лишь потом сделайте свой первый шаг к финансовой независимости. И главная моя идея – это РИСК
				ТОП
				100. Если вы до сих пор не поняли что это, то я вам скажу известную фразу – «кто не рискует, то не пьет…
				сами знаете чего».</p>

			<p>В заключении хотелось бы сказать следующее: было бы желание – найдутся возможности. Если будет желание и
				возможности, то родятся и идеи. Рискуйте вашими идеями, рискуйте вашими планами. И результат не заставит
				себя долго ждать.</p>

			<p>Я себя выбрал и рискнул, а Вы?...</p>

			<p>И не нужно отрицать, что риск – дело благородное.</p>

		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">
			<script id="top100Counter" type="text/javascript"
					src="http://counter.rambler.ru/top100.jcn?2390545"></script>
			<noscript>
				<a href="http://top100.rambler.ru/navi/2390545/">
					<img src="http://counter.rambler.ru/top100.cnt?2390545" alt="Rambler's Top100" border="0"/>
				</a>
			</noscript>
			<a href="http://yandex.ru/cy?base=0&amp;host=www.moneyland.su"><img
					src="http://www.yandex.ru/cycounter?www.moneyland.su" width="88" height="31"
					alt="Яндекс цитирования" border="0"/></a>
			<!--LiveInternet counter-->
			<script type="text/javascript"><!--
			document.write("<a href='http://www.liveinternet.ru/click' " +
					"target=_blank><img src='//counter.yadro.ru/hit?t41.6;r" +
					escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
					";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
							screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
					";" + Math.random() +
					"' alt='' title='LiveInternet' " +
					"border='0' width='31' height='31'><\/a>")
			//--></script>
			<!--/LiveInternet-->
		</div>
	</div>
</div>
</body>
</html>
