<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Правила</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="rules.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="main page"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="marketing"></a></li>
			<li class="rules"><a class="active" title="rules"></a></li>
			<li class="questions"><a href="faq_eng.html" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="sidebar">
			<div class="marketing_sidebar">
				<h1>Project services</h1>

				<div class="paysystems">
					<p>Having registered in our team you became a full member of the internet project <span>&ldquo;MoneyLand&rdquo;</span>.
						Immediately after registration you move to your Personal Office and can evaluate your
						opportunities of managing your own business.</p>

					<p>Many new users of <b class="nobr">MLM-projects</b> face many difficulties in communicating with
						their supervisors and partners and very often because of that they lose interest towards their
						business.</p>

					<p><span>Network marketing</span> &mdash; is a way towards financial independence, more that that
						it's the easiest and the most interesting way. This way means endless communication and meeting
						with purposeful, vivid and interesting people.</p>

					<p><span>MLM</span> &mdash; means people and just people…. Where else can you find so many friends
						as in network marketing? Where else your business partners work constantly for you, providing
						your profit and you in turns work for them and their profit. Where else can the activity be as
						mutually profitable as in network marketing?</p>

					<p><span>Network in the internet</span> &mdash; is even more interesting, it provides you with
						non-limited opportunities of communication with partners from different cities and even
						countries. And you should not run or travel somewhere, you can master your business sitting in
						front of you computer.</p>

					<p>Another piece of advice. Think of <span>GOOD LUCK</span> because positive thoughts make the half
						of success and positively oriented person has more chances to create friendly powerful
						victory-oriented team.</p>

					<p>Our project provides you with a wide range of services for managing your own business:</p>

					<p class="plus">In you Personal Office you'll have all information on registered participants:
						personal data, contact information. This will help you to connect with any of your partners very
						fast.</p>

					<p class="plus">You will be always able to see the structure of your business and get the
						information about how many participants comprise your network at the moment and which level of
						the program they all have.</p>

					<p class="plus">You'll be automatically informed per e-mail about all changes in your network
						structure. More then that, you'll receive e-mails when new levels will be ordered from your
						partners.</p>

					<p class="plus">We provide the internal postal service, which allow you to send messages not only
						within the system, but also send messages to e-mail of participants.</p>

					<p class="plus">You'll be protected by the legal agreement with the system and will receive help
						from the side of our team if necessary .</p>

					<p>We invite you to our team, where we guarantee permanent partners' support, here you'll be able to
						create you own team, which will help you to succeed in any internet projects.</p>
				</div>
			</div>
		</div>
		<div class="main_marketing">
			<h1>User agreement</h1>

			<div class="paysystems">
				<p>This agreement does not have any legal force, however it presents the list of rules according to
					which the whole team is working. If a client violates the rules, he/she may be banned from using our
					resource.</p>
			</div>
			<h2>1. On the entrance step the client has a right:</h2>

			<p class="rules">1.1. To register in the project &ldquo;MoneyLand&rdquo; according to his/her will and try
				the system in test terms. The time of test is limited and it comprises of7 2 hours from the moment of
				registration. During the time of testing he/she receives the status of &ldquo;non-activated participant&rdquo;
				(the client who undergoes the process of registration but acquires the &ldquo;non-activated&rdquo;
				status means that he/she can not sell levels of program &ldquo;MoneyLand&rdquo; and activate new
				participants;</p>

			<p class="rules">1.2. To pay and be activated on the site during 72 hours after registration. Non-activated
				within 72 hours client will be deleted from the project without his/her consent.</p>

			<h2>2. The following financial relations are established between the participants of this project.</h2>

			<p class="rules">2.1. Under financial relations is understood:

			<p class="ins">a) transition of money from the client to his/her supervisor;</p>

			<p class="ins">b) acceptance of money by the supervisor.</p>
			</p>
			<p class="rules">2.2. The cost of the first level of the program &ldquo;MoneyLand&rdquo; is 20 euro (this
				sum is distributed between supervisors of three lines);</p>

			<p class="rules">2.3. The administration takes the responsibility of controlling the financial relations
				between the supervisor and his/her client but only after the presentation of complaint from any of two
				sides with the evidence of the current agreement violation.</p>

			<h2>3. Client's activation.</h2>

			<p class="rules">3.1. Having purchased the first level of the program &ldquo;MoneyLand&rdquo; user acquires
				the status of &ldquo;activated participant&rdquo; (full member of the system entering the business as a
				registered participant of the project who paid for the first level of the system). The responsibility of
				the authenticity of the status &ldquo;activated participant&rdquo; is laid upon the supervisors of three
				upper lines.</p>

			<h2>4. Rights and duties of activated participants.</h2>

			<p class="rules">4.1. The activated participant has a right:

			<p class="ins">a) use all presented services for doing his/her own business;</p>

			<p class="ins">b) to ask administration for help in managing his/her business or for getting answers on some
				questions.</p>
			</p>
			<p class="rules">4.2. The activated participant is obliged:

			<p class="ins">a) to answer all messages from clients delivered to his address not later then within 24
				hours from the moment of delivery;</p>

			<p class="ins">b) when the client transfers the whole amount of money (equal to the cost of the first level)
				to the accounts of the supervisors of three lines), supervisors should activate him/her in Personal
				Office not later then within 24 hours after delivering the letter from the client;</p>

			<p class="ins">c) to purchase the next level after the closing of the current level by activated
				participants within 72 hours;</p>

			<p class="ins">d) the participant is not obliged to tell anyone paroles, codes and any other secret data
				provided by the system if it is not stated in the current agreement.</p>
			</p>
			<h2>5. Communication rules and business etiquette.</h2>

			<p class="rules">5.1. The participants of the project should share business and partners relationship. The
				following actions concerning the participants of the project are prohibited:

			<p class="ins">a) the usage of unprintable and indecent words;</p>

			<p class="ins">b) the deliberate usage of wrong information according to personal selfish ends;</p>

			<p class="ins">c) other harm-doing.</p>
			</p>
			<h2>6. Rights and obligations of administration.</h2>

			<p class="rules">6.1. Administration is obliged:

			<p class="ins">a) to fulfill the current agreement;</p>

			<p class="ins">b) to provide the access to the program in accordance with the current agreement;</p>

			<p class="ins">c) not to disfigure or change the user's data in the resource;</p>

			<p class="ins">d) not to disclose the user's data to other people without his/her agreement;</p>

			<p class="ins">e) to eliminate defects in proper time;</p>

			<p class="ins">f) to investigate internal rules violation and inform about it;</p>

			<p class="ins">g) take to consideration all complaints.</p>
			</p>
			<p class="rules">6.2. Administration has a right:

			<p class="ins">a) to change the text of the current agreement;</p>

			<p class="ins">b) to ban the access to the system for the user who violates the current agreement. The
				decision of administration depends on the type of violation;</p>

			<p class="ins">c) to modernize the resource.</p>
			</p>
			<h2>7. The procedure of complaint presentation and its consideration.</h2>

			<p class="rules">7.1. The participant can complain to administration in case his/her rights, regulated by
				the current agreement, are violated. The participant should provide necessary proofs.</p>

			<p class="rules">7.2. After presentation of proofs, administration connects with the person about whom the
				complaint is made and the case is investigated on bilateral basis.</p>

			<p class="rules">7.3. In case of different violations administration presents its report in news block.</p>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
</body>
</html>
