{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	<link rel="stylesheet" type="text/css" href="/css/rus.css"/>
	<LINK REL="SHORTCUT ICON" HREF="/images/favicon.ico">

	<base href="/"/>
	<!--[if lte IE 6]>
		<link href="/css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="/scripts/scripts.js"></script>
	<title>Главная</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="" title="русский"></a></li>
				<li class="en"><a href="welcome_eng.html" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<div class="welcome">
			<div>Добро пожаловать <em>Nazim</em></div>
			<div class="enter_exit"><a href="index.html">Выход</a></div>
			<div class="enter_exit"><a href="status.html">Вход в личный кабинет</a></div>
		</div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(/images/entersystem.gif) top'" onmouseover="this.style.background = 'url(/images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(/images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a class="active" title="главная"></a></li>
			<li class="marketing"><a href="marketing.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules.html" title="правила"></a></li>
			<li class="questions"><a href="faq.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a href="/article.html" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="content">
		<div class="sidebar">
			<div class="main_sidebar">
				<h1>Последние новости и события</h1>
				{% for new in news %}
					<div class="news">
						<div class="date">
							<div class="month">{{ new.added_on|date:"F" }}</div>
							<div class="day">{{ new.added_on.day }}</div>
						</div>
						<a href="/new/{{new.key.id}}">{{ new.title }}</a>

						<p>{{ new.content|truncatewords:60 }}</p>
					</div>
				{% empty %}
					<div class="news">
						<div class="date">
							<div class="month">Сентябрь</div>
							<div class="day">01</div>
						</div>
						<a href="/">Сегодня день знаний</a>

						<p>Очень часто приходится видеть как некрасиво и безвкусно оформлены страницы. Порой доходит до
							того, что не хочется даже читать страницу, по этому очень важно чтобы страница была красивая
							и легко читалась.</p>
					</div>
					<div class="news">
						<div class="date">
							<div class="month">Сентябрь</div>
							<div class="day">01</div>
						</div>
						<a href="/">Сегодня день знаний</a>

						<p>Очень часто приходится видеть как некрасиво и безвкусно оформлены страницы. Порой доходит до
							того, что не хочется даже читать страницу, по этому очень важно чтобы страница была красивая
							и легко читалась.</p>
					</div>
				{% endfor %}
				<img src="/images/banner.gif" style="background-color:#F5E19C;"/></div>
		</div>
		<div class="main">
			<div class="rightside">
				<h1>Статистика</h1>
				<table class="statistics">
					<tr class="odd">
						<td>Участников всего:</td>
						<td>{{ countmembers }}</td>
					</tr>
					<tr class="even">
						<td width="187">Первого уровня</td>
						<td>{{ count1level }}</td>
					</tr>
					<tr class="odd">
						<td>Второго уровня</td>
						<td>{{ count2level }}</td>
					</tr>
					<tr class="even">
						<td>Новичков за сегодня</td>
						<td>{{ countnewbies }}</td>
					</tr>
					<tr class="odd">
						<td>Последний участник</td>
						<td>{{ lastmember }}</td>
					</tr>
				</table>
				<h1>Вы хотите:</h1>
				<ul class="question">
					<li>Быть финансово независимым?</li>
					<li>Иметь больше свободного времени?</li>
					<li>Не зависеть от начальства на работе?</li>
					<li>Путешествовать?</li>
					<li>Общаться с интересными людьми?</li>
					<li>Изменить образ своей жизни?</li>
					<li>Улучшить жилищные условия?</li>
					<li>Погасить свои долги?..</li>
				</ul>
			</div>
			<img class="photo" src="/images/foto.jpg"/>

			<h1>Уникальные возможности финансовой поддержки населения</h1>
			<ul class="answer">
				<li>Минимальное вложение</li>
				<li>Быстрый и полный возврат вложения</li>
				<li>Скорейшее получение дохода</li>
				<li>Без возрастных ограничений</li>
				<li>Без специального обучения</li>
				<li>Никакой продажи товаров</li>
				<li>Выплата дохода ежедневно</li>
			</ul>
			<h2>Если Вы сказали <strong>ДА</strong> хотя бы на пару пунктов, то Этот Проект именно для Вас.</h2>

			<p>Наш проект был создан с одной простой целью &mdash; обеспечить обычного человека интересной и прибыльной
				работой. Причем у нас нет никаких ограничений по возрасту, полу или социальному статусу. Зарабатывать
				смогут все без исключения!</p>
			<img class="littlephoto" src="/images/little_foto.jpg"/>

			<p>Это наша собственная компьютерная программа, уровни которой мы продаем друг другу. Но она не простая!
				<strong>Это настоящая денежная машина</strong>, которая сама следит за Вашими доходами. Вы продаете
				своим клиентам ее части и получаете от этих клиентов чистую прибыль с продаж на Ваш кошелек.</p>

			<p>Вы спросите, кому нужны эти уровни? Да всем участникам! Купив часть программы у своего куратора один раз,
				участник сможет продавать ее своим партнерам согласно <a href="/">маркетинг-плана.</a></p>

			<p>Что Вы теряете? Все, что нужно для вступления в проект &mdash; это купить первую часть программы за 20&nbsp;евро.
				<strong>Больше Вы не потратите ни копейки своих денег.</strong></p>

			<h2>Что Вы получаете?</h2>

			<p>Стабильную интересную работу с хорошим доходом, дружную команду партнеров, с которой можете покорять
				любые МЛМ-проекты, а также превосходный аккаунт на сайте, где Вы будете отслеживать все о Вашем бизнесе
				или бизнесе любого участника Вашей команды.</p>

			<h1>Начните бизнес сегодня! <a href="/">Создайте свой аккаунт</a> и запустите свою денежную машину!</h1>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">Все права защищены 2010</div>
		<div class="author">


		</div>
	</div>
</div>
</body>
</html>
