<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/personal.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Ваши партнеры</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="partner.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<div class="welcome">
			<div>Good day <em>Nazim</em></div>
			<div><a href="welcome_eng.html">Sign out</a></div>
		</div>
		<!--<form id="autorization" name="autorization" action="#">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="главная"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="маркетинг"></a></li>
			<li class="rules"><a href="rules_eng.html" title="правила"></a></li>
			<li class="questions"><a href="faq_eng.html" title="вопросы"></a></li>
			<li class="forum"><a href="/" title="форум"></a></li>
			<li class="mission"><a href="/services.html" title="сервисы"></a></li>
			<li class="article"><a href="/article.html" title="статьи"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="personal_content">
		<div id="personal_nav">
			<ul>
				<li class="status"><a href="status_eng.html"></a></li>
				<li class="profile"><a href="profile_eng.html"></a></li>
				<li class="partners"><a href="partners_eng.html"></a></li>
				<li class="mail"><a href="mail_eng.html"></a></li>
				<li class="books"><a href="books1_eng.html"></a></li>
			</ul>
		</div>
		<div style="padding-left:29px">
			<div class="borderpartner">
				<div class="headerpartner">
					<h1><a href="">Block an account</a></h1>

					<h1>Your partners</h1>

					<div class="infopartner">
						<table cellspacing="0" class="lefttable">
							<tr>
								<td height="20">Инна Inessa_spasenie &mdash; Your line partner</td>
							</tr>
							<tr>
								<td class="even" height="20">Last login: Unknown</td>
							</tr>
							<tr>
								<td height="75"><span><a href="">Delete a partner</a><br/><span>(it is possible if this partner has not made any orders)</span></span>
								</td>
							</tr>
						</table>
						<table cellspacing="0">
							<tr>
								<th colspan="2">Personal link:<br/>http://moneyland.v-10.biz/index.php?relink=724</th>
							</tr>
							<tr class="even">
								<td>Skype: sfatina</td>
								<td>E-mail: MoneyLand28@yandex.ru</td>
							</tr>
							<tr class="even">
								<td class="footertable">ISQ: 355755935</td>
								<td class="footertable">Phone: +380662262522</td>
							</tr>
							<tr>
								<td colspan="2"><span><a href="">Send your partner a message</a></span></td>
							</tr>
						</table>
					</div>
				</div>

				<div class="schema_partners">
					<div id="you" class="bgpl_yellow">Nazim<br/>vdesyatku</div>
					<div class="firstline">
						<div class="bgpl_orange" style="margin-left:61px;">Илья<br/>Strelec</div>
						<div class="bgpl_brown"><a href="partner_eng.html">Инна<br/>Inessa_spasenie</a></div>
						<div class="bgpl_none"></div>
					</div>
					<div class="secondline">
						<div class="smpl_yellow">Валентин<br/>MoneyStation</div>
						<div class="smpl_none"></div>
						<div class="smpl_orange"><a href="partner_eng.html">Валентин<br/>MoneyStation</a></div>
						<div class="smpl_brown"><a href="partner_eng.html">Валентин<br/>MoneyStationSp</a></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
					</div>
					<div class="thirdline">
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
					</div>
					<div class="thirdline">
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_orange">Иван<br/>Грозный</div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
					</div>
					<div class="thirdline">
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_brown"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_yellow"></div>
						<div class="smpl_none"></div>
						<div class="smpl_yellow"></div>
					</div>
					<div class="both"></div>

					<div class="calculators">
						<div class="calculator1">
							<div class="numbres" id="numbers1">
							</div>
						</div>
						<div class="calctext">
							Your earning for today!
						</div>
						<div class="calculator2">
							<div class="numbres" id="numbers2">
							</div>
						</div>
						<div class="calctext2">
							This is the profit you get if you your structure moves up to the next level.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">
			Website development and maintenance by <a href="/"><strong>V Desyatkuу</strong></a><br/>
			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
<script type="text/javascript">
	SetNumbers(5862199, 221570);
</script>
</body>
</html>
