<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<link rel="stylesheet" type="text/css" href="css/personal.css"/>
	<link rel="stylesheet" type="text/css" href="css/eng.css"/>
	<!--[if lte IE 6]>
		<link href="css/ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
	<script type="text/javascript" src="scripts/scripts.js"></script>
	<title>Почта</title>
</head>

<body>
<div id="container">
	<div id="header_right">
		<div id="lang">
			<ul>
				<li class="ru"><a href="sentmail.html" title="русский"></a></li>
				<li class="en"><a href="" title="english"></a></li>
			</ul>
		</div>
		<div id="flash"></div>
	</div>
	<div id="header_left">
		<div class="logo"></div>
		<div class="welcome">
			<div>Good day <em>Nazim</em></div>
			<div><a href="welcome_eng.html">Sign out</a></div>
		</div>
		<!--<form id="autorization" name="autorization" method="post" action="http://ruswebmasters.ru">
			<input type="text" id="login" value="Логин" onfocus="setlog();" onblur="setlog();" />
			<div id="changepass"><input type="text" id="password" value="Пароль" onfocus="setpass();" onblur="unsetpass();" /></div>
			<div class="entersystem" onclick="document.autorization.submit(); this.style.background = 'url(images/entersystem.gif) top'" onmouseover="this.style.background = 'url(images/entersystem.gif) 0 -16px'" onmouseout="this.style.background = 'url(images/entersystem.gif) top'"></div>
			<div class="enter"><a href="/">Напомнить пароль</a></div>
		</form>
        <div class="registration"><a href="/"></a></div>-->
	</div>
	<div id="navigation">
		<ul>
			<li class="general"><a href="index_eng.html" title="main page"></a></li>
			<li class="marketing"><a href="marketing_eng.html" title="marketing"></a></li>
			<li class="rules"><a href="rules_eng.html" title="rules"></a></li>
			<li class="questions"><a href="faq_eng.html" title="questions"></a></li>
			<li class="forum"><a href="/" title="forum"></a></li>
			<li class="mission"><a href="/" title="mission"></a></li>
		</ul>
		<div></div>
	</div>
	<div id="personal_content">
		<div id="personal_nav">
			<ul>
				<li class="status"><a href="status_eng.html" title="status"></a></li>
				<li class="profile"><a href="profile_eng.html" title="profile"></a></li>
				<li class="partners"><a href="partners_eng.html" title="partners"></a></li>
				<li class="mail"><a class="active" title="post service"></a></li>
				<li class="books"><a href="books1_eng.html" title="books"></a></li>
			</ul>
		</div>
		<div style="padding-left:29px">
			<div class="bordercontent">
				<div class="mail_content">
					<h1>Private e-mail</h1>

					<h2><a href="mail_eng.html">Received messages</a> | <a href="/">Sent messages</a> | <a
							href="sentmail_eng.html">Send a message</a></h2>

					<div class="line"></div>
					<h3>Message delivery</h3>

					<form id="sentmail" name="sentmail" action="#">
						<table cellspacing="0">
							<tr>
								<td width="40">To:</td>
								<td width="743"><input name="address" type="text" class="sentmail"/></td>
							</tr>
							<tr>
								<td>Subject:</td>
								<td><input name="theme" type="text" class="sentmail"/></td>
							</tr>
							<tr>
								<td colspan="2"><textarea name="textmail"></textarea></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="sent"
										 onmousedown="this.style.background = 'url(images/savecancel_eng.png) right bottom';"
										 onclick="document.sentmail.submit(); this.style.background = 'url(images/savecancel_eng.png) right top';"
										 onmouseover="this.style.background = 'url(images/savecancel_eng.png) right -32px'"
										 onmouseout="this.style.background = 'url(images/savecancel_eng.png) right top'"></div>
									<div class="clear"
										 onmousedown="this.style.background = 'url(images/savecancel_eng.png) -161px bottom';"
										 onclick="clearmailform(); this.style.background = 'url(images/savecancel_eng.png) -161px -32px';"
										 onmouseover="this.style.background = 'url(images/savecancel_eng.png) -161px -32px'"
										 onmouseout="this.style.background = 'url(images/savecancel_eng.png) -161px top'"></div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="line"></div>
	<div id="footer">
		<div class="copyright">All rights reserved 2009</div>
		<div class="author">

			Website template by <a href="http://www.ruswebmasters.ru" target="_blank"><strong><font
				color="#FFFFCC">R</font><font color="#0066FF">U</font><font color="#FF0000">S</font>WebMasters</strong></a>
		</div>
	</div>
</div>
</body>
</html>
